<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-4.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<!-- 引入属性文件 -->
	<context:property-placeholder location="classpath:config/jdbc.properties"  ignore-unresolvable="true"  />
	<!-- 自动扫描(自动注入) -->
	<context:component-scan base-package="com.weixin,hxs.weixin.web.listeners">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"></context:exclude-filter>
	</context:component-scan>
	<!--&lt;!&ndash; 提供方应用名称信息，这个相当于起一个名字，我们dubbo管理页面比较清晰是哪个应用暴露出来的 &ndash;&gt;-->
	<!--<dubbo:application name="Wechat"></dubbo:application>-->
	<!--&lt;!&ndash; 使用zookeeper注册中心暴露服务地址 &ndash;&gt;-->
	<!--<dubbo:registry address="zookeeper://211.157.179.195:2181" check="false" subscribe="false" register=""></dubbo:registry>-->

	<!--&lt;!&ndash; 用dubbo协议在20880端口暴露服务 &ndash;&gt;-->
	<!--<dubbo:protocol name="dubbo" port="20880" />-->

	<!--&lt;!&ndash; 声明需要暴露的服务接口 &ndash;&gt;-->
	<!--<dubbo:service interface="hxs.weixin.web.dubbo.DemoService"-->
				   <!--ref="demoService" />-->

	<!--<import resource="classpath*:/config/redis-context.xml"></import>-->
	<!--<aop:aspectj-autoproxy  />-->
	<import resource="dubbo-consumer.xml"></import>

</beans>