#answer{
    height: 83vh;
    width: 99vw;
    padding: 0px 0px;
    border: 0px solid whitesmoke;
}
.search-btn{
    margin-left: 30px;
}
.hjdr_hr{
    margin-top: 18px;
    margin-bottom: 10px;
    border-top: 1px solid #76bfdc;

}
#flag.suc{
    background-color: seagreen;
}
#flag.error{
    background-color: mediumvioletred;
}
#message{
    font-size: 16px;
    color: #1b1b1b;
    font-weight: 300;
}
#dd-answer{
    font-size: 20px;
    color: firebrick;
    font-weight: 500;
}