<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.dao.UserDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.test.entity.User" >
	<result column="user_id" property="userId"/>
	<result column="user_name" property="userName"/>
</resultMap>
       
<!-- user table all fields -->
<sql id="Base_Column_List" >
	 user_id,user_name
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="userId != null and userId != ''" >
	    and user_id =  #{userId}
	</if>
	<if test="userName != null and userName != ''" >
	    and user_name =  #{userName}
	</if>
</trim>
</sql>
   
<!-- 根据id查询 用户 -->
<select id="selectByPrimaryKey"  resultMap="BaseResultMap" parameterType="java.lang.String">
	select <include refid="Base_Column_List" /> 
	 from user where user_id = #{userId}
</select>
<!-- 删除记录 -->
<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
	delete 	 from user where user_id = #{userId}
</delete>
<!-- 插入记录 -->
<insert id="insert" parameterType="com.test.entity.User" >
  insert into user(user_id,user_name)
 values(#{userId},#{userName})
</insert>
<!-- 插入记录 -->
<insert id="insertSelective" parameterType="com.test.entity.User" >
  insert into user
	<trim  prefix="(" suffix=")"  suffixOverrides="," >
	<if test="userId != null  ">
		user_id,
	</if>
	<if test="userName != null  ">
		user_name,
	</if>
	</trim>
	<trim  prefix="values (" suffix=")"  suffixOverrides="," >
	<if test="userId != null  ">
		#{userId},
	</if>
	<if test="userName != null  ">
		#{userName},
	</if>
	</trim>
</insert>
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateByPrimaryKeySelective" parameterType="com.test.entity.User" >
	update user set 
	<trim  suffixOverrides="," >
	<if test="userName != null  ">
		user_name=#{userName},
	</if>
	</trim> where user_id=#{userId}
</update>
<!-- 根据id，修改记录-->  
 <update id="updateByPrimaryKey" parameterType="com.test.entity.User" >
  update user set user_name=#{userName} where user_id=#{userId}
 </update>
  	
<!-- 查询用户列表 -->
<select id="selectList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from user 
	<include refid="Example_Where_Clause"/>
	<if test="orderByClause != null and orderByClause != ''" >
       order by  ${orderByClause}
    </if>
</select>
  	
</mapper>   
