<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>充值</title>
    <script src="jquery-m/jquery.min-1.4.5.js"></script>
    <script src="js/baseJS.js"></script>

</head>
<body>
 邀请码: <input type="text" name ="code" id ="code"></br>
 数  目：<input type="text" name="size" id="size">
 <input type="button" value="提交" onclick="submit()"/>


</body>

<script  type="text/javascript">

    function submit(){

       var code  =$("#code").val();
       var size  =$("#size").val();
        if(size>0&&""!=code){
            var  p =new Object();
            p.code = code;
            p.size = size;
            var params = {
                "params": JSON.stringify(p)
            };
            ajaxObject.postFormAjax("/code/zhishi",params,callback,"JSON");
        }else{
            alert("请输入邀请码和数目");
        }



    }


</script>
</html>