<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>家庭影院</title>
    <script src="jquery-m/jquery.min-1.4.5.js"></script>
    <style>
        .ui-sponsor{
            display: none;
        }
        #ft_couplet_right{
            display: none;
        }

    </style>
</head>
<body>
<iframe  height="800" width="1000"  src="http://aaxxy.com" onload="removeAd();" id="center" name="center"> </iframe>
</body>

<script  type="text/javascript">
    function removeAd(){
       var ifame  =$("#center").context;
    }


</script>
</html>