<html >
<head>
    <meta charset="UTF-8">
    <title>战狼2 高清</title>
    <!-- meta使用viewport以确保页面可自由缩放 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- 引入 jQuery Mobile 样式 -->
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <!-- 引入 jQuery 库 -->
    <script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <!-- 引入 jQuery Mobile 库 -->
    <script src="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script type="text/javascript">

        function init() { // Master function, encapsulates all functions
            var video = document.getElementById("Video1");
            if (video.canPlayType) { // tests that we have HTML5 video support
//                document.getElementById("inputField").style.display = "block";
                function vidplay(evt) {
                    if (video.src == "") { // inital source load
                        getVideo();
                    }
                    button = evt.target; // get the button id to swap the text based on the state
                    if (video.paused) { // play the file, and display pause symbol
                        video.play();
                        button.textContent = "||";
                    } else {
                        video.pause();
                        button.textContent = ">";
                    }
                }
                function getVideo() {
                    var fileURL = document.getElementById("videoFile").value; // get input field
                    if (fileURL != "") {
                        video.src = fileURL;
                        video.load(); // if HTML source element is used
                        video.play();
                    } else {
                        errMessage("Enter a valid video URL"); // fail silently
                    }
                }

                function setTime(tValue) {
                    try {
                        if (tValue == 0) {
                            video.currentTime = tValue;
                        }
                        else {
                            video.currentTime += tValue;
                        }

                    } catch (err) {
                        errMessage("Video content might not be loaded");
                    }
                }
                function errMessage(msg) {
                    document.getElementById("errorMsg").textContent = msg;
                    setTimeout("document.getElementById('errorMsg').textContent=''", 5000);
                }


                document.getElementById("loadVideo").addEventListener("click", getVideo, false);

                video.addEventListener("error", function (err) {
                    errMessage(err);
                }, true);




            } // end of runtime
        }// end of master
    </script>

</head>
<body onload="init();" >

<video id="Video1" controls style="border: 1px solid blue;" height="320" width="480" title="video element">
    HTML5 Video is required for this example
</video>

<div id="buttonbar" style="display: none;")>
    <button id="play"  disabled="disabled" ></button>
</div>
<br/>
<div id= "inputField" >
    <label>
        <!--<input type="hidden" id="videoFile"  title="video file input field" value="http://mys-videos.oss-cn-shanghai.aliyuncs.com/%E6%88%98222.mp4" />-->
        <!--<input type="hidden" id="videoFile"  title="video file input field" value="http://mys-videos.oss-cn-shanghai.aliyuncs.com/%E6%88%98222.mp4" />-->
        <input type="hidden" id="videoFile"  title="video file input field" value="http://dl133.80s.im:920/1708/[WXF师2]第13集/[WXF师2]第13集_bd.mp4" />
        <button id="loadVideo" title="Load video button" >加载战狼2资源</button>
    </label>
</div>
<div title="Error message area" id="errorMsg" style="color:Red;"></div>
</body>
</html>