<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	   xmlns:jaxws="http://cxf.apache.org/jaxws"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://cxf.apache.org/jaxrs
    http://cxf.apache.org/schemas/jaxrs.xsd http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">
	<!-- soap webservice wsdl -->
	<jaxws:endpoint id="isService" implementor="com.yj.ws.service.HelloService"
					address="/soap">
	</jaxws:endpoint>

	<!--rest 方式的webService wadl-->
	<bean id="testWs" class="com.yj.ws.service.TestWs" />
	<!-- 这里的地址很重要，客户端需要通过这个地址来访问WebService -->
	<jaxrs:server id="spring-app-cloud-auth" address="/rest">
		<jaxrs:serviceBeans>
			<ref bean="testWs" />
      	</jaxrs:serviceBeans>
		<jaxrs:providers>
			<ref bean="jaxbProvider" />
			<ref bean="jsonProvider" />
			<bean
				class="org.apache.cxf.rs.security.cors.CrossOriginResourceSharingFilter" />
		</jaxrs:providers>
		<jaxrs:extensionMappings>
		</jaxrs:extensionMappings>
		<jaxrs:languageMappings>
			<entry key="cn" value="ch-CN" />
		</jaxrs:languageMappings>
	</jaxrs:server>
</beans>