<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta使用viewport以确保页面可自由缩放 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="jquery-m/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" href="css/app_index.css">
    <!-- 引入 jQuery 库 -->
    <script src="jquery-m/jquery.min-1.4.5.js"></script>
    <!-- 引入 jQuery Mobile 库 -->
    <script src="jquery-m/jquery.mobile-1.4.5.min.js"></script>
    <script src="js/baseJS.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <meta charset="UTF-8">
    <title>兴趣部落</title>
</head>
<body>

<div data-role="page" data-fullscreen="false"
     style="background:url(images/login-back.jpg) 0 0 no-repeat;background-size:cover">
    <!--<div data-role="header"  class="login-footer">-->
    <!--<h1>Login</h1>-->
    <!--</div>-->
    <a href="#popupBasic" data-rel="popup" id="openwin">Open Popup</a>

    <div data-role="main" class="ui-content  ">
        <iframe  scr="http://aaxxy.com" id="centerIframe" ></iframe>

    </div>

    <div data-role="footer" data-position="fixed" class="ui-bar-b" style="background:none;border:0px">
        <h4>打击盗版，违者必究</h4>
    </div>
</div>
</body>
<script type="text/javascript">

    //    onload
    $(function () {
        msglist();
    });
//    私信列表
    function msglist() {
        $("#msgList").html("");
        var p =new Object();
        p.token=token;
        p.pageSize=200;
        p.pageNumber=0;
        var url = "/user/msgList";
        var params = {
            "params":JSON.stringify(p)
        };
        var  callbackFunc=function(data){
            if(data.code==200){
                var html ="";
              var msgList =data.datas.page.content;
//                if(msgList.length>0){
//                    for(var i =0;i<msgList.length;i++){
//                        html+="<li id="+msgList[i].id+"><div class='to'><img src="+msgList[i].img+"    class='img' onclick=\"openMsgWin('"+msgList[i].id+"');\" /></div>"+msgList[i].nickName+"</li>";
//                    }
//                    $("#msgList").html(html);
//                }
            }else{
                alert(data.msg);
            }
        }
        ajaxObject.postFormAjax(url, params, callbackFunc, "JSON")
    }

    //打开聊天记录信息
  function  openMsgWin(sessionId){
      var p =new Object();
      p.token=token;
      p.sessionId=sessionId;
      $("#session_id").val(sessionId);
      var url = "/user/session";
      var params = {
          "params":JSON.stringify(p)
      };
      var openMsgWinCall= function  callBackFunc2(data){
          var pp =$("#content");
          pp.empty();
          $("#openwin").click();
          $("#popupBasic").show();
          var  xx ="";
          var datalist= data.datas.message;
          if(datalist.length>0){
              for(var i=0;i<datalist.length;i++){
                  var owner ='';
                  if(datalist[i].side=='OPPOSITE'){
                      owner="她："
                  }else{
                      owner="<font color='red'>我：</font>"
                  }
                  if(datalist[i].type=='IMG'){
                      xx +="<li>"+owner+"<img  src ="+datalist[i].content.imgUrl+"  width='100px' height='100px'/></li>";
                  }else{
                      xx +="<li>"+owner+datalist[i].content.text+"</li>";
                  }
              }
              pp.html(xx);
          }

      }
      ajaxObject.postFormAjax(url, params, openMsgWinCall, "JSON")
  }

    function sendMsg(){
        var sessionId=$("#session_id").val();
        var content=$("#msg").val();
        var p =new Object();
        p.token=token;
        p.sessionId=sessionId;
        p.isSMS=false;
        p.content=content;
        var url = "/user/sendMsg";
        var params = {
            "params":JSON.stringify(p)
        };
        var callbackFunc=function(data){
           openMsgWin(sessionId);

        }
        ajaxObject.postFormAjax(url, params, callbackFunc, "JSON")
    }

    function closeDialog(){
        $("#popupBasic").hide();
    }


</script>
</html>