<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta使用viewport以确保页面可自由缩放 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- 引入 jQuery Mobile 样式 -->
    <link rel="stylesheet" href="jquery-m/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" href="css/platform.css">
    <!-- 引入 jQuery 库 -->
    <script src="jquery-m/jquery.min-1.4.5.js"></script>
    <!-- 引入 jQuery Mobile 库 -->
    <script src="jquery-m/jquery.mobile-1.4.5.min.js"></script>
    <script src="js/baseJS.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <meta charset="UTF-8">
    <title>兴趣部落</title>
</head>
<body>

<div data-role="page" data-fullscreen="false"
     style="background:url(images/login-back.jpg) 0 0 no-repeat;background-size:cover">
    <!--<div data-role="header"  class="login-footer">-->
    <!--<h1>Login</h1>-->
    <!--</div>-->
    <div data-role="main" class="ui-content  ">
        <div class="login ">

            <div class="ui-grid-solo">
                <input type="text" id="userName" name="userName" placeholder="请输入账号" >
                    </input>
            </div>
            <div class="ui-grid-solo">
                <input type="password" id="password" name="password" placeholder="请输入密码">
                </input>
            </div>
            <div class="ui-grid-solo">
                <div class="ui-block-a"><button type="submit" data-theme="b" onclick="login()">提交</button></div>
            </div>
        </div>

    </div>

    <div data-role="footer" data-position="fixed" class="ui-bar-b" style="background:none;border:0px">
        <h4>打击盗版，违者必究</h4>
    </div>
</div>
</body>
<script type="text/javascript">
    //    onload
    $(function () {
    });
    function login() {
        var username = $("#userName").val();
        var url = "/user/login";
        var obj = new Object();
        obj.userName = username;
        var params = {
            "params": JSON.stringify(obj)
        };
        var  callbackFunc=function(data){
            if(data.code==200){
                 window.location.href="index.html";
            }else{
                alert(data.msg);
            }

        }
        ajaxObject.postFormAjax(url, params, callbackFunc, "JSON")
    }


</script>
</html>