body{
    background:url("../images/login-back.jpg") 0 0 no-repeat;background-size:cover
}
.to1{width:80px;height:80px;border-radius:80px}
.img{width:80px; height:80px; border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;}