.login {
    display: table;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.row {
    display: table-cell;
    vertical-align: middle;
}
.title{
    background-color: #1b1b1b;
    height: 3em;
    text-align: center;
    vertical-align: baseline;
    font-size: 18px;
    font-weight: 400;
    color: whitesmoke;
    line-height: 3em;
}

/* centered columns styles */
.row-centered {
    text-align: center;
    background: url("../images/tmbg-white.png");
    width: 32em;
}

#main {
    display: table;
    height: 98%;
    width: 100%;
    position: absolute;
    background: url("../images/bg.jpg") no-repeat;
    background-size: cover;
    padding: 0px 0px !important;


}

.col-centered {
    display: inline-block;
    float: none;
    text-align: center;
    vertical-align: baseline;
    margin: 40px 24px;
}
.footer-div{
    padding:1px 0px;
    text-align: center;
    background-color: #456f94;
    vertical-align: text-top;
    font-size: 18px;
    color: white;
    font-weight: 400;
}
.platform-name{
    font-size: 25px;
    color: #1b1b1b;
    font-weight: 600;
    text-align: center;
    vertical-align: baseline;
    height: 4em;

}
.navbar-fixed-bottom{
   height: 3%;
}