#main{
}
/*禁用浏览器的滚动条*/
body{
    overflow-y:hidden;
    overflow-x: hidden}
#center-table{
    height: 90vh;
}

#left{
    height: 93vh;
    width: 20vw;
    background-color: #2b542c;
    padding: 0px 0px;
    margin-right: -1px;
}

.table{
    border-color: transparent;
    /*border-style: none;*/
    border-collapse: collapse;
}

#right{
    height: 93vh;
    width: 80vw;
    background-color: #1f1f1f;
    padding: 0px 0px;
}



#header{
    height: 7vh;
    background-color: #0e759c;
    line-height: 7vh;

}

.td-border{
    border:  0px !important;
    padding: 0px 0px !important;
}