#main {
}

/*禁用浏览器的滚动条*/
body {
    overflow-y: hidden;
    overflow-x: hidden
}

#center-table {
    height: 90vh;
}

.tb-header {
    margin: 0 !important;
    padding: 0px 0px;
    height: 7vh;
    word-wrap: break-word;
    /*table-layout:fixed;*/
}

#left {
    height: 93vh;
    width: 15vw;
    background-color: #49a74f70;
    padding: 0px 0px;
    margin-right: -1px;
    text-align: center;
}

.table {
    border-color: transparent;
    /*border-style: none;*/
    border-collapse: collapse;
    vertical-align: middle;
}

#right {
    height: 93vh;
    width: 85vw;
    background-color: #1f1f1f00;
    padding: 0px 0px;
}

#header {
    height: 7vh;
    background-color: #22883cd9;
    line-height: 7vh;
    font-size: 16px;
    font-weight: 600;

}

.td-border-header {
    border: 0px !important;
    padding: 0px 0px !important;
    vertical-align: middle !important;
    /*width: 50px;*/
}

.td-border {
    border: 0px !important;
    padding: 0px 0px !important;
}

#AdminUser {
    font-weight: 600;
    color: #191714;
    font-size: 18px;
}
#timer{
    color: #e8bd17;
    font-weight: 500;
    font-size: 16px;
}
.page-title{
    padding: 0px 0px !important;
    margin: 0 !important;
    height: 7vh;
    line-height: 7vh;
    text-align: center;
}
.page-title-selected{
    background-color:#15c1b8;
}
.left-head-p{
 background-color:#21676d8c;
    font-size: 18px;
    font-weight: 900;
    border-bottom:4px solid seagreen;
    min-height: 40px;
    line-height: 40px;
}
.left-head-c{
    background-color: #28b1ab;
    height: 50px;
    vertical-align: middle;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    font-weight: 500;
    border-bottom:2px solid seagreen;
}
/*去除超链接下划线和蓝色字体*/
a{
    text-decoration:none;
    color:#252527;
}
#panelName{
    height: 40px;
    line-height: 40px;
    background-color:#40a26b4a;
    margin-left: 0px;
}
#content{
    margin-left: 0px;
    background-color:#aedab070 ;
    height: 93vh;
}