<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xchat.dao.DataDicDao" >
	<!-- Result Map-->
	<resultMap id="BaseResultMap" type="xchat.pojo.DataDic">
				<result column="code" property="code" jdbcType="VARCHAR"/>
				<result column="value" property="value" jdbcType="VARCHAR"/>
				<result column="id" property="id" jdbcType="INTEGER"/>
			</resultMap>
	<!-- video table all fields -->
	<sql id="Base_Column_List" >
	code,value,id
	</sql>
	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
	where 1=1
		<trim  suffixOverrides="," >
						
			<if test="code != null and code != ''" >
				and code =  #{code,jdbcType=VARCHAR}
			</if>
						
			<if test="value != null and value != ''" >
				and value =  #{value,jdbcType=VARCHARl}
			</if>
						
			<if test="id != null and id != ''" >
				and id =  #{id,jdbcType=INTEGER}
			</if>
			
					</trim>
	</sql>

	<!-- 根据id查询 视频 -->
	<select id="selectByPrimaryKey"  resultMap="BaseResultMap" parameterType="java.lang.Integer">
	  select
	 <include refid="Base_Column_List" /> 
		from data_dic
	 where id = #{id}
	</select>
	<select id="queryValueByCode" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from data_dic
		where code = #{code}
	</select>
	<!-- 根据id查询 视频 -->
	<select id="get"  resultMap="BaseResultMap" parameterType="java.lang.Integer">
	  select
	 <include refid="Base_Column_List" /> 
		from data_dic
	 where code = #{code}
	</select>
	<!-- 删除记录 -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
	  delete
		  from data_dic where id = #{id}
	</delete>
	<!-- 插入记录 -->
	<insert id="insert" parameterType="xchat.pojo.DataDic" >
				insert into data_dic(code,value,create_time)
		 values(

			#{code,jdbcType=VARCHAR},
			#{value,jdbcType=VARCHAR},
			#{id,jdbcType=INTEGER})
	</insert>
	<!-- 插入记录 -->
	<insert id="insertSelective" parameterType="xchat.pojo.DataDic" >
				insert into data_dic
	<trim  prefix="(" suffix=")"  suffixOverrides="," >
	<if test="code != null  ">
		code,
	</if>
	<if test="value != null  ">
		value ,
	</if>
	<if test="id != null  ">
		id,
	</if>

	</trim>
	<trim  prefix="values (" suffix=")"  suffixOverrides="," >
	<if test="code != null  ">
		#{code,jdbcType=VARCHAR},
	</if>
	<if test="value != null  ">
		#{value,jdbcType=VARCHAR},
	</if>
	<if test="id != null  ">
		#{id,jdbcType=INTEGER},
	</if>
	
	</trim>
	</insert>
	<!-- 修改记录，只修改只不为空的字段 -->
	<update id="updateByPrimaryKeySelective" parameterType="xchat.pojo.DataDic" >
		update data_dic set 
	<trim  suffixOverrides="," >
	<if test="value != null ">
		value=#{value,jdbcType=VARCHAR},
	</if>
	</trim> where code=#{code,jdbcType=VARCHAR}
	</update>


	<!-- 查询视频列表 -->
	<select id="selectList" resultMap="BaseResultMap"  parameterType="Object">
		select
		<include refid="Base_Column_List"/>
		from data_dic
		<include refid="Example_Where_Clause"/>
		<if test="orderByClause != null and orderByClause != ''" >
			order by  ${orderByClause}
		</if>
	</select>
	<!-- 查询视频列表 -->
	<select id="selectOne" resultMap="BaseResultMap"  parameterType="Object">
		select
		<include refid="Base_Column_List"/>
		from data_dic
		<include refid="Example_Where_Clause"/>
		limit 1
	</select>
	<select id="selectCount" parameterType="Object" resultType="java.lang.Long">
		SELECT COUNT(1) from data_dic
		<include refid="Example_Where_Clause"/>
	</select>

</mapper>
