<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hxs.weixin.parent.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="hxs.weixin.parent.entity.Order">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="project_id" jdbcType="VARCHAR" property="projectId" />
    <result column="buy_type" jdbcType="INTEGER" property="buyType" />
    <result column="out_trade_no" jdbcType="VARCHAR" property="outTradeNo" />
    <result column="user_unique_id" jdbcType="VARCHAR" property="userUniqueId" />
    <result column="puserVoucherId" jdbcType="VARCHAR" property="puserVoucherId" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="order_date" jdbcType="TIMESTAMP" property="orderDate" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="cash_amout" jdbcType="VARCHAR" property="cashAmout" />
    <result column="coupon_amout" jdbcType="VARCHAR" property="couponAmout" />
    <result column="total_amout" jdbcType="VARCHAR" property="totalAmout" />
    <result column="serial_number" jdbcType="VARCHAR" property="serialNumber" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, project_id, buy_type, out_trade_no, user_unique_id,puserVoucherId, state, order_date, description, cash_amout,
    coupon_amout, total_amout, serial_number, project_name, end_time,create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from p_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="getByUserId" resultMap="BaseResultMap" parameterType="hxs.weixin.parent.entity.Order">
  	select <include refid="Base_Column_List" /> from p_order
  	<where>
  		1 = 1
  		<if test="userUniqueId != null">
  			and user_unique_id = #{userUniqueId}
  		</if>
  		<if test="buyType != null">
  			and buy_type = #{buyType} 
  		</if>
  		and state=1
  	</where>
  </select>

  <select id="selectBought" resultMap="BaseResultMap" parameterType="Object">
  	select <include refid="Base_Column_List" />
    from p_order
    WHERE state = 1 AND end_time > now()
    AND user_unique_id = #{openid} AND buy_type = #{buyType}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from p_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="hxs.weixin.parent.entity.Order">
    insert into p_order (id, project_id, buy_type, out_trade_no,
      user_unique_id, puserVoucherId,state, order_date, 
      description, cash_amout, coupon_amout, 
      total_amout, serial_number, project_name, end_time,
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{projectId,jdbcType=VARCHAR}, #{buyType,jdbcType=INTEGER}, #{outTradeNo,jdbcType=VARCHAR},
      #{userUniqueId,jdbcType=VARCHAR}, #{puserVoucherId,jdbcType=VARCHAR},#{state,jdbcType=VARCHAR}, #{orderDate,jdbcType=TIMESTAMP}, 
      #{description,jdbcType=VARCHAR}, #{cashAmout,jdbcType=VARCHAR}, #{couponAmout,jdbcType=VARCHAR}, 
      #{totalAmout,jdbcType=VARCHAR}, #{serialNumber,jdbcType=VARCHAR}, #{projectName,jdbcType=VARCHAR}, #{endTime,jdbcType=TIMESTAMP},
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="hxs.weixin.parent.entity.Order">
    insert into p_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="buyType != null">
        buy_type,
      </if>
      <if test="outTradeNo != null">
        out_trade_no,
      </if>
      <if test="userUniqueId != null">
        user_unique_id,
      </if>
      <if test="puserVoucherId != null">
        puserVoucherId,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="orderDate != null">
        order_date,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="cashAmout != null">
        cash_amout,
      </if>
      <if test="couponAmout != null">
        coupon_amout,
      </if>
      <if test="totalAmout != null">
        total_amout,
      </if>
      <if test="serialNumber != null">
        serial_number,
      </if>
      <if test="projectName != null">
        project_name,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="buyType != null">
        #{buyType,jdbcType=INTEGER},
      </if>
      <if test="outTradeNo != null">
        #{outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="userUniqueId != null">
        #{userUniqueId,jdbcType=VARCHAR},
      </if>
       <if test="puserVoucherId != null">
        #{puserVoucherId,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="orderDate != null">
        #{orderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="cashAmout != null">
        #{cashAmout,jdbcType=VARCHAR},
      </if>
      <if test="couponAmout != null">
        #{couponAmout,jdbcType=VARCHAR},
      </if>
      <if test="totalAmout != null">
        #{totalAmout,jdbcType=VARCHAR},
      </if>
      <if test="serialNumber != null">
        #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="hxs.weixin.parent.entity.Order">
    update p_order
    <set>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="buyType != null">
        buy_type = #{buyType,jdbcType=INTEGER},
      </if>
      <if test="outTradeNo != null">
        out_trade_no = #{outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="userUniqueId != null">
        user_unique_id = #{userUniqueId,jdbcType=VARCHAR},
      </if>
       <if test="puserVoucherId != null">
        puserVoucherId = #{puserVoucherId,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="orderDate != null">
        order_date = #{orderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="cashAmout != null">
        cash_amout = #{cashAmout,jdbcType=VARCHAR},
      </if>
      <if test="couponAmout != null">
        coupon_amout = #{couponAmout,jdbcType=VARCHAR},
      </if>
      <if test="totalAmout != null">
        total_amout = #{totalAmout,jdbcType=VARCHAR},
      </if>
      <if test="serialNumber != null">
        serial_number = #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="hxs.weixin.parent.entity.Order">
    update p_order
    set project_id = #{projectId,jdbcType=VARCHAR},
      buy_type = #{buyType,jdbcType=INTEGER},
      out_trade_no = #{outTradeNo,jdbcType=VARCHAR},
      user_unique_id = #{userUniqueId,jdbcType=VARCHAR},
      puserVoucherId = #{puserVoucherId,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      order_date = #{orderDate,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=VARCHAR},
      cash_amout = #{cashAmout,jdbcType=VARCHAR},
      coupon_amout = #{couponAmout,jdbcType=VARCHAR},
      total_amout = #{totalAmout,jdbcType=VARCHAR},
      serial_number = #{serialNumber,jdbcType=VARCHAR},
      project_name = #{projectName,jdbcType=VARCHAR},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateByOrderNo" parameterType="hxs.weixin.parent.entity.Order">
  update p_order set state = #{state,jdbcType=VARCHAR} where out_trade_no = #{outTradeNo,jdbcType=VARCHAR}
</update>

  <select id="selectByTradeNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from p_order where out_trade_no = #{outTradeNo,jdbcType=VARCHAR}
  </select>
</mapper>