<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hxs.weixin.parent.dao.ProjectMapper">
  <resultMap id="BaseResultMap" type="hxs.weixin.parent.entity.Project">
    <id column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="project_desc" jdbcType="VARCHAR" property="projectDesc" />
    <result column="project_price" jdbcType="VARCHAR" property="projectPrice" />
    <result column="ctb_code" jdbcType="VARCHAR" property="ctbCode" />
    <result column="project_img1" jdbcType="VARCHAR" property="projectImg1" />
    <result column="project_img2" jdbcType="VARCHAR" property="projectImg2" />
    <result column="project_img3" jdbcType="VARCHAR" property="projectImg3" />
    <result column="project_img4" jdbcType="VARCHAR" property="projectImg4" />
    <result column="title_img_url" jdbcType="VARCHAR" property="titleImgUrl" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="effective_time" jdbcType="INTEGER" property="effectiveTime" />
    <result column="last_time" jdbcType="TIMESTAMP" property="lastTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    project_id, project_name, project_desc, project_price, ctb_code, project_img1, project_img2, 
    project_img3, project_img4, title_img_url, status,last_time,effective_time,create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from p_task_project
    where project_id = #{projectId,jdbcType=INTEGER}
  </select>
  
    <select id="getByctbCode" resultMap="BaseResultMap" parameterType="java.lang.String">
  	select <include refid="Base_Column_List" /> from p_task_project
  	<where>
  		1=1
  		<if test="_parameter != null">
  			and ctb_code = #{_parameter,jdbcType=VARCHAR}
  		</if>
  	</where>
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from p_task_project
    where project_id = #{projectId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="hxs.weixin.parent.entity.Project">
    insert into p_task_project (project_id, project_name, project_desc, 
      project_price, ctb_code, project_img1, 
      project_img2, project_img3, project_img4, 
      title_img_url, status, last_time,effective_time,create_time, 
      update_time)
    values (#{projectId,jdbcType=INTEGER}, #{projectName,jdbcType=VARCHAR}, #{projectDesc,jdbcType=VARCHAR}, 
      #{projectPrice,jdbcType=VARCHAR}, #{ctbCode,jdbcType=VARCHAR}, #{projectImg1,jdbcType=VARCHAR}, 
      #{projectImg2,jdbcType=VARCHAR}, #{projectImg3,jdbcType=VARCHAR}, #{projectImg4,jdbcType=VARCHAR}, 
      #{titleImgUrl,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{effectiveTime,jdbcType=INTEGER}, #{lastTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="hxs.weixin.parent.entity.Project">
    insert into p_task_project
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="projectId != null">
        project_id,
      </if>
      <if test="projectName != null">
        project_name,
      </if>
      <if test="projectDesc != null">
        project_desc,
      </if>
      <if test="projectPrice != null">
        project_price,
      </if>
      <if test="ctbCode != null">
        ctb_code,
      </if>
      <if test="projectImg1 != null">
        project_img1,
      </if>
      <if test="projectImg2 != null">
        project_img2,
      </if>
      <if test="projectImg3 != null">
        project_img3,
      </if>
      <if test="projectImg4 != null">
        project_img4,
      </if>
      <if test="titleImgUrl != null">
        title_img_url,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="effectiveTime != null">
        effective_time,
      </if>
      <if test="lastTime != null">
        last_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="projectId != null">
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="projectName != null">
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectDesc != null">
        #{projectDesc,jdbcType=VARCHAR},
      </if>
      <if test="projectPrice != null">
        #{projectPrice,jdbcType=VARCHAR},
      </if>
      <if test="ctbCode != null">
        #{ctbCode,jdbcType=VARCHAR},
      </if>
      <if test="projectImg1 != null">
        #{projectImg1,jdbcType=VARCHAR},
      </if>
      <if test="projectImg2 != null">
        #{projectImg2,jdbcType=VARCHAR},
      </if>
      <if test="projectImg3 != null">
        #{projectImg3,jdbcType=VARCHAR},
      </if>
      <if test="projectImg4 != null">
        #{projectImg4,jdbcType=VARCHAR},
      </if>
      <if test="titleImgUrl != null">
        #{titleImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="effectiveTime != null">
        #{effectiveTime,jdbcType=INTEGER},
      </if>
      <if test="lastTime != null">
        #{lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="hxs.weixin.parent.entity.Project">
    update p_task_project
    <set>
      <if test="projectName != null">
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectDesc != null">
        project_desc = #{projectDesc,jdbcType=VARCHAR},
      </if>
      <if test="projectPrice != null">
        project_price = #{projectPrice,jdbcType=VARCHAR},
      </if>
      <if test="ctbCode != null">
        ctb_code = #{ctbCode,jdbcType=VARCHAR},
      </if>
      <if test="projectImg1 != null">
        project_img1 = #{projectImg1,jdbcType=VARCHAR},
      </if>
      <if test="projectImg2 != null">
        project_img2 = #{projectImg2,jdbcType=VARCHAR},
      </if>
      <if test="projectImg3 != null">
        project_img3 = #{projectImg3,jdbcType=VARCHAR},
      </if>
      <if test="projectImg4 != null">
        project_img4 = #{projectImg4,jdbcType=VARCHAR},
      </if>
      <if test="titleImgUrl != null">
        title_img_url = #{titleImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="effectiveTime != null">
        effective_time = #{effectiveTime,jdbcType=INTEGER},
      </if>
      <if test="lastTime != null">
        last_time = #{lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where project_id = #{projectId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="hxs.weixin.parent.entity.Project">
    update p_task_project
    set project_name = #{projectName,jdbcType=VARCHAR},
      project_desc = #{projectDesc,jdbcType=VARCHAR},
      project_price = #{projectPrice,jdbcType=VARCHAR},
      ctb_code = #{ctbCode,jdbcType=VARCHAR},
      project_img1 = #{projectImg1,jdbcType=VARCHAR},
      project_img2 = #{projectImg2,jdbcType=VARCHAR},
      project_img3 = #{projectImg3,jdbcType=VARCHAR},
      project_img4 = #{projectImg4,jdbcType=VARCHAR},
      title_img_url = #{titleImgUrl,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      effective_time = #{effectiveTime,jdbcType=INTEGER},
      last_time = #{lastTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where project_id = #{projectId,jdbcType=INTEGER}
  </update>
</mapper>